#posts {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            article {
                display: flex;
                align-items: flex-start;
                .left-side {
                    align-self: center;
                    display: flex;
                    margin-right: 5%;
                    .info {
                        margin-right: 30px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        p.data {
                            font-size: 30px;
                            // font-weight: 500;
                        }
                    }
                }
                .right-side {
                    padding: 10px 0;
                    flex: 1 auto;
                    align-self: flex-start;
                    display: flex;
                    flex-direction: column;
                    .t {
                        display: flex;
                        justify-content: space-between;
                        .vote {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: -20px;
                            .data {
                                font-size: 30px;
                                margin-bottom: 0;
                                color: #808080;
                            }
                            .up,
                            .down {
                                outline: none;
                                margin: 0;
                                cursor: pointer;
                                border: 20px solid #fc0;
                                border-right: 20px solid transparent;
                                border-left: 20px solid transparent;                                
                            }
                            .up {
                                border-top: 20px solid transparent;
                                &:hover{
                                    border-bottom-color: #ff8d00;
                                }
                                &:active{
                                    border-bottom-color: #ff5c00;
                                }
                            }
                            .down {
                                border-bottom: 20px solid transparent;
                                &:hover{
                                    border-top-color: #ff8d00;
                                }
                                &:active{
                                    border-top-color: #ff5c00;
                                }
                            }
                        }
                    }
                    h3 {
                        margin-top: 0;
                    }
                    .tags {
                        margin-top: 20px;
                        display: flex;
                        .tag {
                            border: 1px solid #337ab7;
                            padding: 3px 15px;
                            padding-bottom: 5px;
                            border-radius: 15px;
                            color: #337ab7;
                            margin-right: 10px;
                            box-sizing: border-box;
                        }
                    }
                    .c-date {
                        margin-top: 20px;
                        font-size: 12px;
                        align-self: flex-end;
                        font-style: italic;
                    }
                }
            }
        }
    }
    h2 {
        text-transform: capitalize;
    }
}
